[data-theme="brown"].dark {
	--background: oklch(0.2627 0.0299 281.349);
	--foreground: oklch(0.8452 0 0);
	--card: oklch(0.2627 0.0299 281.349);
	--card-foreground: oklch(0.8452 0 0);
	--popover: oklch(0.3211 0 0);
	--popover-foreground: oklch(0.8452 0 0);
	--primary: oklch(0.6135 0.0821 39.1964);
	--primary-foreground: oklch(0.2627 0.0299 281.349);
	--secondary: oklch(0.4271 0.0883 20.5074);
	--secondary-foreground: oklch(0.8452 0 0);
	--muted: oklch(0.5103 0 0);
	--muted-foreground: oklch(0.8452 0 0);
	--accent: oklch(0.4271 0.0883 20.5074);
	--accent-foreground: oklch(0.2627 0.0299 281.349);
	--destructive: oklch(0.7044 0.1872 23.1858);
	--destructive-foreground: oklch(0.2627 0.0299 281.349);
	--border: oklch(0.5103 0 0);
	--input: oklch(0.3211 0 0);
	--ring: oklch(0.5043 0.1018 26.0273);
	--chart-1: oklch(0.6135 0.0821 39.1964);
	--chart-2: oklch(0.4271 0.0883 20.5074);
	--chart-3: oklch(0.3959 0.0599 20.092);
	--chart-4: oklch(0.3405 0.0428 19.5169);
	--chart-5: oklch(0.277 0.0437 20.2407);
	--sidebar: oklch(0.3211 0 0);
	--sidebar-foreground: oklch(0.8452 0 0);
	--sidebar-primary: oklch(0.6135 0.0821 39.1964);
	--sidebar-primary-foreground: oklch(0.2627 0.0299 281.349);
	--sidebar-accent: oklch(0.4271 0.0883 20.5074);
	--sidebar-accent-foreground: oklch(0.2627 0.0299 281.349);
	--sidebar-border: oklch(0.5103 0 0);
	--sidebar-ring: oklch(0.5043 0.1018 26.0273);
	--font-sans: Inter;
	--font-serif: Merriweather;
	--font-mono: JetBrains Mono;
	--radius: 8px;
	--shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.1);
	--shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.1);
	--shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
	--shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
	--shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
	--shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
	--shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
	--shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.5);
}
