[data-theme="purple"].dark {
	--background: oklch(0.2627 0.0299 281.349);
	--foreground: oklch(0.8452 0 0);
	--card: oklch(0.2627 0.0299 281.349);
	--card-foreground: oklch(0.8452 0 0);
	--popover: oklch(0.3211 0 0);
	--popover-foreground: oklch(0.8452 0 0);
	--primary: oklch(0.8068 0.1274 308.2532);
	--primary-foreground: oklch(0.2627 0.0299 281.349);
	--secondary: oklch(0.8201 0.0997 293.7767);
	--secondary-foreground: oklch(0.2627 0.0299 281.349);
	--muted: oklch(0.5103 0 0);
	--muted-foreground: oklch(0.8452 0 0);
	--accent: oklch(0.8201 0.0997 293.7767);
	--accent-foreground: oklch(0.2627 0.0299 281.349);
	--destructive: oklch(0.7044 0.1872 23.1858);
	--destructive-foreground: oklch(0.2627 0.0299 281.349);
	--border: oklch(0.5103 0 0);
	--input: oklch(0.3211 0 0);
	--ring: oklch(0.8694 0.0832 307.777);
	--chart-1: oklch(0.8068 0.1274 308.2532);
	--chart-2: oklch(0.8201 0.0997 293.7767);
	--chart-3: oklch(0.7422 0.1537 298.072);
	--chart-4: oklch(0.6802 0.1936 297.0244);
	--chart-5: oklch(0.6425 0.2175 295.9541);
	--sidebar: oklch(0.3211 0 0);
	--sidebar-foreground: oklch(0.8452 0 0);
	--sidebar-primary: oklch(0.8068 0.1274 308.2532);
	--sidebar-primary-foreground: oklch(0.2627 0.0299 281.349);
	--sidebar-accent: oklch(0.8201 0.0997 293.7767);
	--sidebar-accent-foreground: oklch(0.2627 0.0299 281.349);
	--sidebar-border: oklch(0.5103 0 0);
	--sidebar-ring: oklch(0.8694 0.0832 307.777);
	--font-sans: Inter;
	--font-serif: Merriweather;
	--font-mono: JetBrains Mono;
	--radius: 8px;
	--shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.1);
	--shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.1);
	--shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
	--shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
	--shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
	--shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
	--shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
	--shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.5);
}
